
/*div {
	border: 1px solid black;
}*/

/*********** UNIVERSAL STYLES ***********/

html {
	font-size: 16px;
	line-height: 1.4;
	font-family: Work+Sans;
	color: rgb(74, 74, 74);
}

.logo span {
	font-family: Righteous;
	font-size: 2.5rem;
	color: rgb(255, 102, 204);
}

.header,
.top-bar {
	position: fixed;
	z-index: 5;
}

.top-bar {
	top: 8rem;
	width: 100%;
}

/*********** HEADER ***********/

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 8rem;
	background-color: rgb(35, 2, 63);
}

.btn {
	border-radius: 19px;
	background-color: rgb(255, 102, 204);
	border: 1px solid rgb(255, 102, 204);
}

.btn .fa {
	color: rgb(35, 2, 63);
}

.btn:hover {
	background-color: rgb(255, 102, 204);
	box-shadow: 0 0 1rem white;
	transition: box-shadow 0.3s ease-out;
	border: 1px solid rgb(255, 102, 204);
}

.btn:hover:active {
	background-color: rgb(255, 102, 204);
	box-shadow: 0 0 1rem rgb(255, 102, 204);
}

input {
	border-radius: 19px;
	height: 2.8rem;
	background-color: rgb(255, 255, 255);
}

input:hover {
		box-shadow: 0 0 1rem white;
		transition: box-shadow 0.3s ease-out;
}

input:focus {
	outline: none;
	box-shadow: 0 0 1rem rgb(255, 102, 204);
}

/*********** TOP BAR ***********/

.top-bar {
	display: flex;
	background-color: rgb(104, 0, 255);
	height: 2rem;
	align-items: center;
}

.attribute {
	color: rgb(255, 255, 255);
	font-weight: bold;
}

/*********** Song Display ***********/

.results {
	padding: 0;
	padding-top: 10rem;
}

.result {
	display: flex;
	align-items: center;
	padding: 0.6rem 0;
	border-bottom: 1px solid #cccccc;
}

.result .fa {
	color: rgb(255, 102, 204);
}



